#titulo-simulador{
    text-align: center;
    margin-top: -340px;
}

#titulo_datos_historicos{
    text-align: center;
    padding-top: 50px;
    color: aliceblue;
}


#myChart{
    background: #14213d;
    margin-top: 40px;
    text-size-adjust: 40px;
}



#contenedor_grafico{
    background:#355070;
    height: 780px;
    width:1400px;
    margin-top: 50px;
    border-radius: 12px;
}

/*---GRÁFICOS---*/

#titulo-graficos{
    text-align: center;
    color: aliceblue;
    padding-top: 100px;
}

#contenedor-graficos{
    background: #355070;
    height: 790px;
    width: 1200px;
    margin-top: 150px;
    margin-bottom: 280px;
    border-radius: 12px;
    
}

#contenedor-graficos-lineas{
    background: #355070;
    height: 800px;
    width: 1200px;
    margin-top: 150px;
    margin-bottom: 520px;
    border-radius: 12px;
    
}

#contenedor-graficos-areas{
    background: #355070;
    height: 790px;
    width: 1200px;
    margin: 120px auto 0;
    border-radius: 12px;
    
}

#grafico_historico_barras{
    width: 900px;
    height: 400px; 
    padding-top: 10px;   
}


#grafico_barras{
    padding-top: 2%;
    width: 900px;
    height: 900px;
}


#grafico_torta{
    margin-left: 28%;
    width: 500px;
    height: 700px;
}

#grafico_lineas{
    margin-left: 12%;
    margin-top: 80px;
    width: 900px;
    height: 1300px;
}

#grafico_areas{
    margin-left: 12%;
    width: 900px;
    height: 1300px;
}


/*---BOTONES---*/

#botonGrafico_barras {
   margin-top: 130px;
   margin-left: 40PX;
   border-radius: 7px;
   background: #f77f00;
   border-color: #f77f00;
   font-weight: bold;
   font-size: 16px;
}

#botonGrafico_torta {
   margin-top: -114px;
   margin-left: 25%;
   border-radius: 7px;
   background: #f77f00;
   border-color: #f77f00;
   font-weight: bold;
   font-size: 16px;
}

#botonGrafico_lineas {
   margin-top: -208px;
   margin-left: 46%;
   border-radius: 7px;
   background: #f77f00;
   border-color: #f77f00;
   font-weight: bold;
   font-size: 16px;
}

#botonGrafico_areas {
   margin-top: -303px;
   margin-left: 71%;
   border-radius: 7px;
   background: #f77f00;
   border-color: #f77f00;
   font-weight: bold;
   font-size: 16px;
}

#boton_atras{
    margin-top: -80px;
    margin-bottom: -250px;
    margin-left:870px;
    background: #f77f00;
    border: #f77f00;
    font-weight: bold;
    
}










